Options -Indexes
#ErrorDocument 403 /403.php
#ErrorDocument 404 /404.php

RewriteEngine On
RewriteRule ^include(/|$) - [F,NC]
RewriteRule ^logs(/|$) - [F,NC]
RewriteRule ^uploads(/|$) - [F,NC]
RewriteRule ^output(/|$) - [F,NC]